html {
  scroll-behavior: smooth;
}
.navbar {
  padding: 25px 60px;
}
.WebsiteNavbarLogo {
  height: 101px;
  width: 525px;     
}
.navbar-nav {
  text-align: left;
  font-size: 30px;
    margin-left: auto;
}
.navbar-brand{
    font-size: 40px;
} 
.Mainpage{
    height: 900px;
    width: auto;
    background-color: gray;
}
.Mainpage_Image{
    text-align: center;
    padding-top: 390px;
    font-size: 50px;
}
.Mainpage_Title{
    text-align: center;
    padding-top: 5px;
    font-size: 50px;
}
.meettheteamheader{
    text-align: center;
    padding-top: 20px;
}
.belowmeettheteam{
    padding: 2px;
    margin: 0 auto;
    height: 10px;
    width: 100px;
}
.our_story{
    padding: 80px;
}
.about_us{
   padding: 80px;
}
.what_we_do{
    padding: 80px;
}
.meettheteams{
    padding: 140px;
}
.meettheteam
{
    padding: 80px;
}
.MajorTitle{
  padding-top: 80px;
}